.body {
    font-family: "Poppins", sans-serif;
}

.navigation {
    display: flex;
    flex-direction: row;
    background-color: azure;
    text-decoration-color: black;
    border: 1px solid black;
}
