@font-face {
    font-family: Open Sans;
    src: url("assets/fonts/OpenSans-VariableFont_wdth,wght.ttf");
}
.navigation {
    display: flex;
    flex-direction: row;
    background-color: azure;
    text-decoration-color: black;
    border: 1px solid black;
}
