html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
picture {
    display: block;
    width: 100%;
    max-width: 100%;
}
body {
    font-family: Georgia, Regular, sans-serif;
    font-size: 15px;
    color: #545454;
}
.main {
    width: 100%;
}
a {
    text-decoration: none;
    color: #292929;
    display: block;
}
img {
    width: 100%;
    display: block;
}
.wrap {
    padding: 30px 40px 0;
    max-width: 1280px;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    align-items: center;
}
.header-burger {
    display: none;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}
.logo-title {
    display: block;
    margin-bottom: 8px;
    color: #545454;;
    line-height: 110%;
    letter-spacing: 2px;
    font-size: 32px;
}
.logo-subtitle {
    color: #292929;
    font-family: Arial, Regular, sans-serif;
    line-height: 15px;
    letter-spacing: 1px;
    padding-left: 4px;
    font-size: 13px;
}
.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 443px;
    height: 27px;
    transition: 1s;
}
.nav-link {
    transition: 0.3s;
    line-height: 27px;
    cursor: pointer;
    text-decoration: none;
    color: rgba(84, 84, 84, 1);
}
.nav-item a {
    color: rgba(84, 84, 84, 1);
    max-width: 443px;
    text-decoration: none;
    font-family: Arial, Regular, sans-serif;
    font-size: 15px;
    transition: 0.3s;
}
.nav-item a:hover {
    color: rgba(41, 41, 41, 1);
    border-bottom: 3px solid rgb(241 205 179);
}
.nav-item-our-pets {
    font-family: Arial, Regular, sans-serif;
    font-size: 15px;
    color: rgba(41, 41, 41, 1);
    border-bottom: 3px solid rgb(241 205 179);
}
.Pets {
    display: flex;
    align-items: flex-end;
    height: 1342px;
    margin: 0;
    background-color: rgba(246, 246, 246, 1);
}
.background-pets {
    background-color: #f6f6f6;
}
.petsContent {
    height: 1162px;
    margin: 80px 40px 100px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.h1 {
    font-family: Georgia, Regular, sans-serif;
    font-weight: 100;
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 48px;
    color: rgba(84, 84, 84, 1);
    width: 400px;
    height: 90px;
    margin: 0;
    text-align: center;
}
.cards-container {
    width: 1200px;
    height: 930px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    height: 435px;
    background: white;
    border-radius: 15px;
    margin-top: 15px;
}
.card-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    height: 435px;
    background: white;
    border-radius: 15px;
    margin-top: 30px;
}
.pets-name {
    font-size: 18px;
    font-family: Georgia, Regular, sans-serif;
    color: rgba(84, 84, 84, 1);
    letter-spacing: 2px;
}
.pets-name-2 {
    font-size: 18px;
    height: 30px;
    font-family: Georgia, Regular, sans-serif;
    color: rgba(84, 84, 84, 1);
    letter-spacing: 2px;
}
.button-pets-card {
    color: rgba(41, 41, 41, 1);
    border: 2px solid rgba(241, 205, 179, 1);
    width: 188px;
    height: 48px;
    border-radius: 40px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.button-pets-card-2 {
    color: rgba(41, 41, 41, 1);
    border: 2px solid rgba(241, 205, 179, 1);
    width: 188px;
    height: 48px;
    border-radius: 40px;
    margin-bottom: 35px;
    cursor: pointer;
    transition: 0.3s;
}
.button-pets-card:hover {
    background: rgba(253, 220, 196, 1);
    border: none;
}
.button-pets-card-2:hover {
    background: rgba(253, 220, 196, 1);
    border: none;
}
.button-pets-card-item {
    text-align: center;
    margin: 15px 45px;
}
.button-pets-card-item a {
    font-size: 19px;
    font-family: Georgia, Regular, sans-serif;
    color: rgba(41, 41, 41, 1);
    text-decoration: none;
}
.navigation {
    width: 340px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-arrow-1 {
    width: 52px;
    height: 52px;
    border: 2px solid rgba(205, 205, 205, 1);
    border-radius: 90px;
}

.button-arrow-2 {
    width: 52px;
    height: 52px;
    border: 2px solid rgba(241, 205, 179, 1);
    border-radius: 90px;
    background-color: rgba(241, 205, 179, 1);
    transition: 0.3s;
}
.button-arrow-2-link {
    cursor: pointer;
}
.button-arrow-2-link:hover {
    background: rgba(253, 220, 196, 1);
    border:none;
}
.button-arrow-3 {
    width: 52px;
    height: 52px;
    border: 2px solid rgba(241, 205, 179, 1);
    border-radius: 90px;
    transition: 0.3s;
}
.button-arrow-3-link {
    cursor: pointer;
}
.button-arrow-3:hover {
    background: rgba(253, 220, 196, 1);
    border:none;
}
.arrow {
    margin: 21px 10px 9px 14px;
}
.arrow2 {
    margin: 21px 13px 9px 20px;
}
.number1 {
    color: black;
    text-align: center;
    font-family: Georgia, Regular, sans-serif;
    font-weight: 200;
}
.background-gradient {
    background-image: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}
.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 100px;
    color: #f1cdb3;
}
.footer-content {
    flex-basis: auto;
    display: flex;
    padding-top: 26px;
    gap: 122px;
}
.title-footer {
    color: #fff;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    max-width: 300px;
}
.contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}
.contacts a {
    color: #f1cdb3;
    display: flex;
    align-items: center;
    gap: 20px;
}
.icon-mail {
    background-image: url("icon-email.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 32px;
}
.icon-phone {
    background-image: url("icon-phone.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 32px;
}
.locations {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    padding-left: 17px;
}
.locations a {
    color: #f1cdb3;
    display: flex;
    align-items: center;
    gap: 20px;
    font-style: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}
.icon-address {
    background-image: url(icon-marker.svg);
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    width: 22px;
    height: 32px;
}
.footer-puppy {
    flex-shrink: 0;
    padding-top: 10px;
    padding-left: 60px;
}

@media screen and (max-width: 1280px) {
    .header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        align-items: center;
    }
}

@media screen and (max-width: 769px) {
    .wrap {
        padding: 30px 30px 0;
    }
    .footer {
        justify-content: center;
        gap: 54px;
    }
    .footer-content {
        padding-top: 0;
        padding-left: 34px;
        gap: 22px;
        flex-basis: 100%;
    }
    .contacts {
        gap: 40px;
    }
    .locations {
        display: flex;
        gap: 32px;
    }
    .footer-puppy {
        padding-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .nav {
        display: none;
    }
    .header-burger {
        display: block;
        margin-right: 10px;
        position: relative;
        z-index: 100;
        width: 30px;
        height: 25px;
    }
    .burger-menu {
        display: block;
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #000000;
        top: 50%;
        left: 0;
        transition: all 0.3s ease;
    }
    .burger-menu:before,
    .burger-menu:after {
        content: " ";
        width: 30px;
        height: 3px;
        background-color: inherit;
        position: absolute;
    }
    .burger-menu:after {
        top: -10px;
    }
    .burger-menu:before {
        top: 10px;
    }
    .footer {
        justify-content: center;
        gap: 54px;
    }
}
@media screen and (max-width: 630px) {
    .footer {
        gap: 30px;
    }
    .title-footer {
        max-width: 250px;
        font-size: 25px;
        text-align: center;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 41px;
        padding-left: 0;
    }
    .contacts {
        align-items: center;
        gap: 39px;
    }
    .locations {
        display: flex;
        padding-left: 0;
        gap: 39px;
        align-items: center;
    }
    .footer-puppy {
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer .address .footer-title {
        align-self: center;
    }
}
@media screen and (max-width: 420px) {
    .wrap {
        padding: 30px 10px 0;
    }

    .header {
        padding: 0 10px 30px 10px;
    }
}
@media screen and (max-width: 320px) {
    .header {
        padding-left: 10px;
    }
}





