* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Georgia;
    src: url(georgia.ttf);
}

.header{
    position: absolute;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.logo{

}
.title{
    color: rgb(241 205 179);
    font-family: Georgia, Regular, sans-serif;
    font-size: 32px;
}
.subtitle{
    font-family: Arial, Regular, sans-serif;
    font-size: 13px;
    color: white;
}
.nav-list{
    display: flex;

    align-items: stretch;
    justify-content: space-between;
    list-style: none;
    max-width: 443px;
    max-height: 27px;
}
.link{
    color: rgb(205 205 205);
    text-decoration: none;
}
.startScreen{
    display: flex;
    align-items: flex-end;
    height: 908px;
    width: 100%;
    background-image: url(start-screen-gradient-background.jpg);
    background-size: cover;
    margin: 0;
}
.startScreenContent {
    display: flex;
    flex-direction: row;
justify-content: center;
    align-items: flex-end;
    min-width: 1200px;
    min-height: 728px;
    margin: 180px 40px 0 40px;
}
.content{
    display: flex;
    flex-direction: column;
    max-width: 460px;
    max-height: 322px;
}
.puppy{
    flex: 1;
    max-width: 698px;
    max-height: 728px;
 }
.About{
    height: 588px;
}
.Pets{
    height: 877px;
    background-color: rgba(246, 246, 246, 1);
}
.Help{
    height: 611px;
}
.Donation{
    height: 462px;
    background-color: rgba(246, 246, 246, 1);
}
.footer{
    height: 350px;
    width: 100%;
    background-image: url(footer-background.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.footer-content{
    display: flex;
    flex-direction: row;
justify-content: space-between;
    align-items: flex-end;
    width: 1200px;
    height: 310px;
    margin: 40px 40px 0 40px;
}
.contacts{
    width: 278px;
    margin-bottom: 60px;
}
.title-footer{
    font-size: 35px;
}
.locations{
    width: 302px;
    margin-bottom: 60px;
}
.title-footer{
    color: white;
}
